{% extends "log/base.html" %}

{% block content %}
<div class="container">
    <div class="columns.is-mobile is-centered">
        <div class="column is-half is-offset-one-quarter">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="field">
                <label class="label">{{ form.username.label_tag }}</label>
                    <div class="control">
                        {{ form.username }}
                    </div>
            </div>
            <div class="field">
                <label class="label">{{ form.password.label_tag }}</label>
                    <div class="control">
                        {{ form.password }}
                    </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" value="login" class="button is-link">Anmelden</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}
