{% extends 'log/base.html' %}

{% block title %}
    Eintrag hinzufügen
{% endblock title %}



{% block content %}
<div class="container">

{% if submitted %}
    <div class="columns.is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <strong>Der Eintrag wurde erfolgreich eingetragen. Vielen Dank!</strong> Wollen Sie einen <a href="{% url 'add_log' %}">weiteren Eintrag hinzufügen?</a>
        </div>
    </div>
{% else %}
    <div class="columns.is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <b>Bitte tragen Sie die Daten ein:</b>
            <form action="{% url 'add_log' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                            <div class="control">
                                {{ field }}
                            </div>
                    </div>
                {% endfor %}
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Eintragen</button>
                        </div>
                        <div class="control">
                            <button type="reset" class="button is-link is-light">Abbrechen</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
{% endif %}
</div>
{% endblock content %}


