{% load static %}
<!doctype html>
<html lang="de">
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'add_log' %}"><h3 class="title is-size3">Ausgangsbuch</h3></a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{% url 'add_log' %}">Eintrag hinzufügen</a>
                    <a class="navbar-item" href="{% url 'list_log' %}">Einträge anzeigen</a>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                Made possible with <a href="https://djangoproject.com"><strong>Django</strong></a> and <a href="https://bulma.io"><strong>Bulma</strong></a>. 
                The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
