{% load static %}
<!doctype html>
<html lang="de">
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'add_log' %}"><h3 class="title is-size3">Ausgangsbuch</h3></a>

                <div class="navbar-burger burger" data-target="Options">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="Options" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{% url 'add_log' %}">Eintrag hinzufügen</a>
                        {% if user.is_authenticated %}
                            <a class="navbar-item" href="{% url 'list_log' %}">Einträge anzeigen</a>
                            <a class="navbar-item" href="{% url 'logout' %}">Abmelden</a>
                        {% else %}
                            <a class="navbar-item" href="{% url 'login' %}">Anmelden</a>
                        {% endif %}
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                From <strong>digitalundso</strong> with love.
                The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
