{% extends 'log/base.html' %}

{% block title %}
    Einträge anzeigen
{% endblock title %}



{% block content %}
<div class="container">
    <div class="columns.is-mobile">
                 <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Name</th>
                            <th>Vorname</th>
                            <th>Ziel</th>
                            <th>Grund</th>
                            <th>Von</th>
                            <th>Bis</th>
                            <th>Kostenstelle</th>
                            <th>Projekt</th>
                        </tr>
                    </thead>
                    {% for post in posts %}
                    <tbody>
                        <tr>
                            <td>{{ post.datum }}</td>
                            <td>{{ post.name }}</td>
                            <td>{{ post.vorname }}</td>
                            <td>{{ post.ziel }}</td>
                            <td>{{ post.grund }}</td>
                            <td>{{ post.von }}</td>
                            <td>{{ post.bis }}</td>
                            <td>{{ post.kostenstelle }}</td>
                            <td>{{ post.projekt }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>

        </div>
    </div>
{% endblock content %}
